{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    {% if app.user %}
        <div class="mb-3">
             {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}
    <style>
    form{
        padding:50px;
        text-align:center;
    }
    .container{
        padding:10px;
        margin:5px;
    }
    </style>
    <h1>Login</h1>
    <div class="container">
    <input type="text" value="{{ last_username }}" name="username" id="inputUsername" placeholder="user" class="form-control" autocomplete="username" required autofocus><br></div>
    <input type="password" name="password" id="inputPassword" placeholder="password" class="form-control" autocomplete="current-password" required><br>
    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}" >
<div class="container">
    <button class="btn btn-lg btn-primary" type="submit">
        Sign in
    </button>
</form>
</div>
{% endblock %}
