{% extends 'base.html.twig' %}
{% block body %}
{% if form is defined %}
    <div class="container">
           <div class="row">
               <div class="col-sm-4">
                   <h2 class=page-header>Update Employee</h2>
                       {{form_start(form)}}
                       {{form_widget(form)}}
                       {{form_end(form)}}
               </div>
           </div>
    </div>
    {% endif %}
<div class="container">
	<br>  
<table class="table">
  <tbody>
  {% for data in addemployee %}
    <tr>
      <th scope="row">{{data.id}}</th>
      <td>{{data.EmployeeCode}}</td>
      <td>{{data.EmployeeName}}</td>
      <td>{{data.Role}}</td>
       </tr>
    {% endfor %}
  </tbody>
</table>
</div>
{% endblock %}