{% extends 'base.html.twig' %}
{% block body %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<hr>
<nav class="nav flex-column">
  <a class="nav-link active" href="{{ path('app_addemployee') }}">Add Employee</a>
  <a class="nav-link active" href="{{ path('app_addclass') }}">Add Class</a>
  <a class="nav-link active" href="{{ path('app_addstudent') }}">Add Student</a>
</nav>
<hr>
{% if form is defined %}
    <div class="container">
           <div class="row">
               <div class="col-sm-4">
                   <h2 class=page-header>Add Student</h2>
                       {{form_start(form)}}
                       {{form_widget(form)}}
                       {{form_end(form)}}
               </div>
           </div>
    </div>
    {% endif %}
    <div class="container">
	<br>  
<table class="table">
  <thead>
    <tr>
     <th scope="col">id</th>
      <th scope="col">Adm No</th>
      <th scope="col">Name</th>
      <th scope="col">Class</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
  {% for data in data %}
    <tr>
      <th scope="row">{{data.id}}</th>
      <td>{{data.AdmissionNumber}}</td>
      <td>{{data.ChildsName}}</td>
      <td>{{data.class}}</td>
      <td>
          <a class ="btn-btn-warning" href="{{path('updatestudent', {'id':data.id})}}">Update</a>
          <a class ="btn-btn-danger" href="{{path('deletestudent', {'id':data.id})}}">Delete</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>

{% endblock %}